@font-face {
    font-family: 'Grecoliv';
    src: url('../font/GrecolivRegular.eot'); /* IE9 Compat Modes */
    src: url('../font/GrecolivRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/GrecolivRegular.woff') format('woff'), /* Modern Browsers */ url('../font/GrecolivRegular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../font/GrecolivRegular.svg#GrecolivRegular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

* {
    transition: all 200ms ease-in-out;
}


body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    background: #B0C4DE;
    color: #212121;
    font-family: Grecoliv;
}

header {
    width: 100%;
    text-align: center;
}

header > img {
    max-width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;


}

header > section {
    width: 100%;
    max-width: 900px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 30px 510px;*/
    margin: auto;
    border-radius: 73px;
    background: #86babd;
    /*box-shadow: 10px 10px 20px #ab84f1,*/
    /*-10px -10px 20px #ab84f1;*/
}

header > section > a {
    font-size: 20px;
    color: #212121;
    text-decoration: None;
    font-weight: 400;
    margin: 0 20px;
    padding: 7px;
    border-radius: 40px;
    background: linear-gradient(145deg, #c4a9fc, rgba(156, 141, 241, 0.97));
    /*box-shadow: 5px 5px 10px #b3b3b3,*/
    /*-5px -5px 10px #b3b3b3;*/
}

header > section > a:hover {
    padding: 20px;
    border-radius: 40px;
    background: linear-gradient(145deg, #59f8b8, #05d3ee);
    /*box-shadow:  5px 5px 10px #a100ff,*/
    /*-5px -5px 10px #a100ff;*/
}

.products {
    max-width: 900px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    align-items: stretch;
    margin-top: 30px;
}

.product-box {
    display: flow;
    max-width: 250px;
    margin: 15px;
    padding-bottom: 50px;
    align-items: stretch;
    border: 1px solid mediumseagreen;
    border-radius: 10px;
    background: #c4a9fc;
    position: relative;
    
    /*border-radius: 20px;*/
    /*background: rgba(182, 167, 248, 0.97);*/
    /*box-shadow: 2px 2px 5px #b3b3b3,*/
    /*-2px -2px 5px #ffffff;*/

}

.product-box > img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.product-box > a {
    display: flex;
    justify-content: center;
    width: 100px;
    color: #111111;
    margin: 5px 5px 5px;
    align-items: center;
    font-size: 18px;
    border-radius: 20px;
    height: 30px;
    background: linear-gradient(145deg, rgba(37, 136, 24, 0.97), rgba(114, 93, 245, 0.97));
    text-decoration: None;
    position: absolute;
    right: 1px;
    bottom: 1px;
}

.product-box > a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: linear-gradient(140deg, #59f8b8, #05d3ee);
}

.product-box > h3 {
    margin: 5px;
    font-weight: 400;
    padding-bottom: 5px;
    padding-top: 5px;
}

.product-box > p {
    font-size: 12px;
    margin: 0  5px;
}

a > img {
    width: 30px;
}

.tag {
    margin: 10px 10px;
    width: 70px;
    font-size: 10px;
    align-items: center;
    padding-bottom: 10px;
}

.tag img {
    width: 40px;
}