{% extends 'base.html' %}
{% block header %}
    <title>edit product</title>
{% endblock %}
{% block body %}

    <img style="width: 100px" src="/static/cover/{{ product.id }}.jpg">
    <form action="#" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label>product image:</label><input type="file" name="cover"><br>
        <input type="text" name="name" value="{{ product.name }}" placeholder="product name"><br>
        <textarea name="description" placeholder="product description">{{ product.description }}</textarea><br>
        <input type="number" name="price" value="{{ product.price }}" placeholder="product price"><br>
        <label>inventory status:</label><input type="checkbox"
                                               name="status" {{ "checked" if product.status == 1 else "unchecked" }}><br>
        <input type="submit">
    </form>


{% endblock %}