{% extends 'base.html' %}
{% block header %}
    <title> product: {{ product.name }}</title>
{% endblock %}
{% block body %}
    <img style="width: 300px" src="/static/cover/{{ product.id }}.jpg"><br>
    Product ID: {{ product.id }}<br>
    Product: {{ product.name }}<br>
    Description: {{ product.description }}<br>
    Price: {{ product.price }} $ <br>
    <form method="get" action="/add-to-cart">
        <input type="hidden" name="id" value="{{ product.id }}">
        <input type="submit" value="add to cart">
        <input type="number" name="quantity" value="1">
    </form>

{% endblock %}
