{% extends 'base.html' %}
{% block header %}
    <title>Your Shopping Cart</title>
{% endblock %}
{% block body %}

    {% if cart != None and cart.cart_items|list|length > 0 %}

        {% for cart_item in cart.cart_items %}
            {{ cart_item.product.name }} ----- {{ cart_item.quantity }} ----- {{ cart_item.product.price }}<br>
            <form action="/remove-from-cart" method="get">
                <input type="hidden" name="id" value="{{ cart_item.id }}">
                <input type="submit" value="remove product">
            </form>
        {% endfor %}


        <b>Total Price: -{{ cart.total_price() }}- Dollar</b>


        <a href="/payment">Purchase</a>

    {% else %}
        your shopping cart is empty
    {% endif %}
{% endblock %}